@page "/"
@using BlazorApp1.Data;
@inject Cart cart

<PageTitle>Index</PageTitle>

<div class="row">
  @foreach(var p in PizzaList.pizzas)
  {
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="200" width="200" src="/css/images/@p.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@p.Name</h5>
                    <p class="card-text">@p.Description</p>
                    <div class="row">
                        
                    </div>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <button @onclick="() => cart.Add(p)" class="btn btn-primary">Купить</button>
                            </div>
                            <div class="col">
                                <h5 class="btn btn-light">Цена: @p.Cost</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  }
</div>
<div class="">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Название пиццы</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Сумма</th>
                <th scope="col">@(CalculateSum() == 0 ? "" : $"Общая сумма: {CalculateSum()}")</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in cart.pizzas)
            {

                <tr>
                    <th scope="row">@p.Key.Name</th>
                    <td>@p.Key.Cost</td>
                    <td>@p.Value</td>
                    <td>@(p.Key.Cost*p.Value)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code{
    private int CalculateSum()
    {
        int sum = 0;
        foreach (var p in cart.pizzas)
        {
            sum += p.Key.Cost;
        }
        return sum;
    }
}